*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 55px;
    left: 50%;
    padding: 15px 60px 15px 60px;
    transform: translate(-50%,-50%);
    background: #fff;
    color: #4760f0;
    border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    overflow: hidden;
    display: grid;
    place-items: center;
}


.dados {
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 340px;
    height: 390px;
    background: #fff;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    overflow: hidden;
    display: grid;
    place-items: center;
}

.sliders{
    width: 280px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.sliders input{
    position: relative;
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    background: #e6e6e6;
    border-radius: 20px;
    outline: none;
}

.sliders input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #4760f0;
    border-radius: 20%;
}

#saida {
    background-color: #e6e6e6;
    padding: 10px;
    width: 280px;
}

#cores {
    width: 240px;
}

#copiar {
    position: absolute;
    left: 242px;
    top: 342px;
    background-color: #cccccc;
    padding: 10px;    
}
